  <div>
    <h1>Hello Budget World</h1>
    <yb-budget-header [budgetAmount]="budgetAmount$" [activeDate]="selectedMonthAndYear$"
      [remainingYearlyBudget]="remainingYearlyBudget$"
      [remainingMonthlyBudget]="remainingMonthlyBudget$"
      [spentThisYear]="spentThisYear$"
      [spentThisMonth]="spentThisMonth$"
      [getRunningSurplus]="getRunningSurplus$"
      (previous)="previousMonth($event)"
      (next)="nextMonth($event)"></yb-budget-header>
    <yb-category *ngFor="let cat of categories$ | async" 
      [categoryName]="cat.name"
      [categoryId]="cat.id"
      total="99"
      (add)="addTransaction($event)"></yb-category>
    <yb-new-category (add)="addCategory($event)"></yb-new-category>
  </div>
