h1 {
  font-size: 20px;
  font-weight: normal;
}

#left-nav {
  width: 200px
}

#right-nav {
  width: 300px;
}

@media only screen and (min-width: 900px) {
    #left-nav-toggle, #right-nav-toggle {
      visibility: hidden;
    }
}
