ul {
  list-style-type: none;
  margin: 0;
  padding: 0;  
}

li {
  border-color: rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.54);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 0;
  padding: 0;  
}

a {
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
  text-decoration: none;
  transition: all .3s;
  padding: 0 16px;
  position: relative;
  cursor: pointer;
}

a:hover {
  color: #673ab7;
}


h3 {
  background: rgba(0, 0, 0, 0.32);
  color: rgba(255, 255, 255, 0.87);  
  border: none;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0 16px;  
}
