<mat-toolbar color="primary">
  <mat-icon (click)="back()" class="arrow-button">arrow_back</mat-icon>
  <h1>Add Transaction</h1>
</mat-toolbar>

<form [formGroup]="transaction" (ngSubmit)="addTransaction()">
  <mat-list>

    <mat-radio-group formControlName="selectedSubcategory">
        <div *ngFor="let category of subcategories$ | async">
        <mat-list-item>
          <mat-radio-button [value]="category" align="end">
              <span>{{category}}</span>
          </mat-radio-button>      
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-radio-group>
    
    <mat-form-field>
        <input matInput placeholder="Amount" formControlName="transactionAmount">
    </mat-form-field>
    
    <div>
      <button mat-raised-button color="primary" [disabled]="transaction.invalid" type="submit">Submit</button>
    </div>
  </mat-list>
</form>
