.category-line {
  display: flex;
  flex-direction: column;
}

.new-transaction {
  display: flex;
}

.new-transaction-button {
  position: relative;
  top: 15px;
}

.view-transactions-button {
  position: relative;
  top: 5px;
}

input {
  width: 100px;
}

table {
    margin-top: 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@media only screen and (min-width: 900px) {
  .category-line {
    display: flex;
    flex-direction: row;
  }  

  .category {
    position: relative;
    top: 8px;
    margin-right: 10px;
  }
}
