<div>
  <h1><span (click)="previous.emit()">&lt;&lt;</span> {{activeDate.month}} {{activeDate.year}} <span (click)="next.emit()">&gt;&gt;</span></h1>
  <div [class.red]="remainingYearlyBudget < 0">
    Yearly budget: {{budgetAmount | currency:'USD':true:'1.2-2'}} = {{remainingYearlyBudget | currency:'USD':true:'1.2-2'}} unspent
    + {{spentThisYear | currency:'USD':true:'1.2-2'}} spent
  </div>
  <div [class.red]="remainingMonthlyBudget < 0">
    Monthly budget: {{budgetAmount / 12 | currency:'USD':true:'1.2-2'}} = {{remainingMonthlyBudget | currency:'USD':true:'1.2-2'}}
    unspent + {{spentThisMonth | currency:'USD':true:'1.2-2'}} spent
  </div>
  <div>
    Running surplus: {{getRunningSurplus | currency:'USD':true:'1.2-2'}}
  </div>
</div>
