<mat-toolbar color="primary">
  <mat-icon>arrow_back</mat-icon>
  <h1>{{selectedBudgetName | async}}</h1>
</mat-toolbar>
<mat-toolbar>
  <mat-icon (click)="previousMonth()">arrow_back</mat-icon>
  <h2>{{selectedMonthAndYear.fullMonth}} {{selectedMonthAndYear.year}}</h2>
  <mat-icon (click)="nextMonth()">arrow_forward</mat-icon>
</mat-toolbar>

<mat-list>
  <div *ngFor="let category of categories$ | async">
    <mat-list-item>

      <span (click)="addTransaction(category.name)">
        <mat-icon>{{category.icon}}</mat-icon>
        {{category.name}} 
        <mat-chip-list>
          <mat-chip color="primary" selected="true">{{category.amount | currency:'USD':true:'1.2-2'}}</mat-chip>
        </mat-chip-list>                  
      </span>


      <div class="list-item-button" (click)="viewTransactionList(category.name)">
        <mat-icon>view_list</mat-icon>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>
