<mat-toolbar color="primary">
  <mat-icon>arrow_back</mat-icon>
  <h1>{{selectedBudgetName | async}}</h1>
</mat-toolbar>
<mat-toolbar>
  <mat-icon (click)="previousMonth()">arrow_back</mat-icon>
  <h2>{{selectedMonthAndYear.fullMonth}} {{selectedMonthAndYear.year}}</h2>
  <mat-icon (click)="nextMonth()">arrow_forward</mat-icon>
</mat-toolbar>

<mat-list>
  <div *ngFor="let budget of budgets$ | async">
    <mat-list-item>
      <span (click)="openBudget(budget.id)">{{budget.name}}</span>
      <div class="list-item-button warning" (click)="deleteBudget(budget.id)">
        <mat-icon>delete</mat-icon>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>
