<mat-toolbar color="primary">
  <span>Budget List</span>
</mat-toolbar>

<mat-list>

  <div *ngFor="let budget of budgets$ | async">
    <mat-list-item>
      <span (click)="openBudget(budget.id)">{{budget.name}}</span>
      <div class="list-item-button warning" (click)="deleteBudget(budget.id)"><mat-icon>delete</mat-icon></div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>

<a mat-fab id="add-budget" class="fab-bottom-right" routerLink="/add-budget"><mat-icon>add</mat-icon></a>
